@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');

body {
    background-color: #d5d5d5;
}

.navbar {
    background-color: #343a40;
}

/* A custom container style to wrap your pages */
.App {
    background-color: #fafafa;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* Example: Style for a heading */
.page-heading {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Style for buttons, for example */
.btn-custom {
    background-color: #007bff;
    border-color: #007bff;
}

strong, b, h1, h2, h3, h4, h5, h6 {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800 !important;
    font-style: normal;
}

.section {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  }